# Stage 06 - Data Preprocessing

In [18]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv('../data/raw/VIX_S&P500_raw.csv')
df.head()

,date,vix_close,vix_high,vix_low,vix_open,vix_volume,sp500_close,sp500_high,sp500_low,sp500_open,sp500_volume
0,2019-08-28,19.350000,21.639999,19.10,20.549999,0,2887.939941,2890.030029,2853.050049,2861.280029,3102480000
1,2019-08-29,17.879999,19.200001,17.60,19.020000,0,2924.580078,2930.500000,2905.669922,2910.370117,3177150000
2,2019-08-30,18.980000,19.180000,17.09,17.940001,0,2926.459961,2940.429932,2913.320068,2937.090088,3009910000
3,2019-09-03,19.660000,21.150000,19.41,20.959999,0,2906.270020,2914.389893,2891.850098,2909.010010,3427830000
4,2019-09-04,17.330000,18.830000,17.26,18.230000,0,2937.780029,2938.840088,2921.860107,2924.669922,3167900000

In [19]:
import sys
sys.path.append(os.path.abspath('..'))
from src import cleaning

In [20]:
# Clean the dataset

df = df.drop(columns = ['vix_volume'])

In [21]:
# Apply cleaning functions

df = cleaning.fill_missing_median(df, ['sp500_volume'])
df = cleaning.drop_missing(df, thresh = 0.1)

In [22]:
# Save the clean dataset and compare

df.to_csv('../data/processed/VIX_S&P500_clean.csv', index = False)
df.head()

,date,vix_close,vix_high,vix_low,vix_open,sp500_close,sp500_high,sp500_low,sp500_open,sp500_volume
0,2019-08-28,19.350000,21.639999,19.10,20.549999,2887.939941,2890.030029,2853.050049,2861.280029,3102480000
1,2019-08-29,17.879999,19.200001,17.60,19.020000,2924.580078,2930.500000,2905.669922,2910.370117,3177150000
2,2019-08-30,18.980000,19.180000,17.09,17.940001,2926.459961,2940.429932,2913.320068,2937.090088,3009910000
3,2019-09-03,19.660000,21.150000,19.41,20.959999,2906.270020,2914.389893,2891.850098,2909.010010,3427830000
4,2019-09-04,17.330000,18.830000,17.26,18.230000,2937.780029,2938.840088,2921.860107,2924.669922,3167900000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508 entries, 0 to 1507
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1508 non-null   object
 1   vix_close     1508 non-null   float64
 2   vix_high      1508 non-null   float64
 3   vix_low       1508 non-null   float64
 4   vix_open      1508 non-null   float64
 5   sp500_close   1508 non-null   float64
 6   sp500_high    1508 non-null   float64
 7   sp500_low     1508 non-null   float64
 8   sp500_open    1508 non-null   float64
 9   sp500_volume  1508 non-null   int64
dtypes: float64(8), int64(1), object(1)
memory usage: 117.9+ KB